{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block nav %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" href="#">CaysMedicalStore | {{title}}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav" style="padding-left: 230px;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'authentication:login' %}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'authentication:register' %}">Register</a>
            </li>
        </ul>
    </div>
    </div>
</nav>
{% endblock %}

{% block content %}
    <br><br>
    <form action="" method="post" style="margin: 10px;">
        {% csrf_token %}
        {% for form in forms %}
            <div class="form-group">
                {{form.label_tag}}
                {{form}}
                <br><br>
            </div>
        {% endfor %}
        {% if error %}
            <p class="text-danger">{{error}}..... Please try to input username and password correctly</p>
            <br>
        {% endif %}
        <p>Haven't Create account? <a href="{% url 'authentication:register' %}">Register Here</a></p>
        <button type="submit"
        class="btn btn-primary">Login</button>
    </form>
{% endblock %}